@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(16, 15, 15);
    color: white;
    font-family: Roboto sans-serif;
}

.logo h1 {
    font-size: 30px;
}

.logo h1 span {
    color: rgb(0, 149, 255);
}

nav {
    display: flex;
    justify-content: space-around;
    position: fixed;
    top: 0%;
    width: 100%;
    align-items: center;
    background: rgb(16, 15, 15);
    align-items: center;
}

ul {
    display: flex;
    align-items: center;
    padding: 22px;
}

nav ul li {
    list-style: none;
    padding: 0 22px;
}

ul li a {
    text-decoration: none;
    font-size: 19px;
    color: white;
}

ul li a:hover {
    border-bottom: 2px solid rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    cursor: pointer;
}

#bar {
    display: none;
}

/* ############################## MAIN #################################### */
.main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 600px;
}

.mainText h3 {
    font-size: 30px;
}

.mainText h1 {
    font-size: 74px;
}

.mainText h1 span {
    color: rgb(0, 157, 255);
}

.main img {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    box-shadow: 0px 0px 17px rgb(255, 0, 200);
}

.mainText p {
    font-size: 20px;
    padding: 4px 0;
}

.mainText p span {
    color: rgb(0, 145, 255);
}

.mainText button {
    background-color: rgb(0, 179, 255);
    color: white;
    cursor: pointer;
    border: none;
    font-size: 19px;
    margin: 14px;
    padding: 8px 10px;
}

button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* ############################### ABOUT US ##################################*/
.head h2 {
    text-align: center;
    font-size: 35px;
    padding: 80px;
    font-weight: bold;
}

.head h2 span {
    color: rgb(0, 174, 255);
}

.about {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: rgb(28, 27, 27);
    color: white;
    padding: 23px;
}

.about img {
    width: 250px;
    align-items: center;
    border-radius: 50%;
    border: 6px solid rgb(0, 106, 255);
    margin-inline: 55px;
}

.aboutText h2 {
    font-size: 30px;
}

.aboutText h2 span {
    color: rgb(0, 166, 255);
}

.aboutText p {
    font-size: 19px;
    margin: 22px;
}

.aboutText p span {
    color: rgb(112, 90, 90);
}

/* ################################# SERVICES #################################### */
.service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border-radius: 5px;
    background-color: rgb(54, 54, 54);
    margin-inline: 23px;
    padding: 20px;
    width: 250px;
    margin-top: 22px;
}

.card i {
    font-size: 22px;
}

.card h2 {
    color: rgb(0, 136, 255);
    padding-top: 8px;
}

.card p {
    padding-top: 11px;
}

/* ################################## CONTACT FORM #################################### */
.contact {
    width: 300px;
    margin: auto;
    background-color: rgb(58, 56, 56);
    padding: 20px;
}

.contact p {
    margin-top: 20px;
}

.contact input {
    width: 90%;
    padding: 5px;
    font-size: 17px;
    border: 1px solid white;
    background-color: transparent;
    color: white;
}

.contact button {
    border: none;
    font-size: 17px;
    cursor: pointer;
    background-color: rgb(0, 157, 255);
    color: white;
    margin-top: 22px;
    padding: 6px 8px;
}

button:hover {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

/* ##################################### FOOTER ########################################## */
.footer {
    display: flex;
    justify-content: space-around;
    padding: 55px;
    margin-top: 66px;
}

.text p {
    margin: 12px;
}

.text h3 span {
    color: rgb(0, 140, 255);
}

/* ########################### MEDIA QUARIES ################################ */

@media screen and (max-width:1000px) {
    .main {
        display: block;
        text-align: center;
    }

    .mainText {
        margin-top: 155px;
        padding-bottom: 20px;
    }
}


@media screen and (max-width:800px) {
    ul {
        display: none;
    }

    .showData {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 23px;
        background-color: rgb(54, 54, 54);
        gap: 20px;
        border-radius: 5px;
        position: fixed;
        top: 75px;
        right: 3%;
    }

    #bar {
        display: block;
        font-size: 23px;
        cursor: pointer;
    }
}


@media screen and (max-width:500px) {
    .about{
        width: min-content;
    }
    .contact{
        width: 80%;
    }
}









